.App {
  .header {
    background-color: #f0f0f0; /* Example background color for the header */
    /* Adjust as needed for internal spacing within the header */
  }

  * {
    font-family: "Poppins", sans-serif;
  }
  .Parentcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
  }

  .leftImage {
    width: 100px; /* Set the desired width */
    height: 75px;
    margin-right: 10px;
    /* margin-bottom:10px; */
  }

  .textContainer {
    display: flex;
    flex-grow: 1; /* Allow the text to take up available space */
    margin-left: 30px;
  }

  .centerText {
    text-align: center;
    margin: 400px; /* Reset default margin for better alignment */
  }
  p {
    margin-bottom: 5px; /* Adjust the value as needed to reduce the spacing */
  }

  .divider {
    height: 2px; /* Adjust the thickness of the line */
    width: 100%; /* Set the width to 100% to create a horizontal line */
    background-color: orange;
  }
  .hdrtext {
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: bold;
  }
  .childtext {
    font-size: 15px;
    font-weight: 500;
  }
  .Contentsection {
    margin-top: 50px;
    padding: 5px;
    /* background-color:#DCDCDC; */
  }
  /* .routerparnt {
    text-align: left;
    padding-left: 5px;
  }
  .routerparnt li {
    font-size: 15px;
     display: inline-block; 
    /* padding:-1px 18px;  */
     /* font-weight: bold; 
  } */

  
  /* .nav-links {
    text-decoration: none;
  }  */
  .Routingdata {
    font-size: 20px;
  }
  /* .nav-links {
    color: #333; /* Example text color for the navigation links */
    /* padding: 19px 28px 22px; */
    /* padding: 24px 72px 31px; */
    /* border-radius: 12px 12px 0 0;  */
    /* transition: background-color 0.1s ease; */
    /* border: 1px solid #ccc;  */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Example box shadow */
    /* background-color: #ececec;
    text-decoration: none;
  } */
  /* .nav-links:hover{
    background: rgba(233, 79, 28, 0.15);
} */ 


  /* .nav-links.active {
    background-color: orangered;
    color: white; /* Example background color on hover or when active */
  /* }  */
  .routerparnt {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 5px;
}

.routerparnt li {
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: #333;
  padding: 15px 0; /* Adjust the padding to center the text vertically */
  border-radius: 12px 12px 0 0;
  transition: background-color 0.1s ease;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ececec;
  width: 100%; /* Set the width to 20% */
  height: 128%; /* Set the height to 100% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links:hover {
  background: rgba(233, 79, 28, 0.15);
  
}

.nav-links.active {
  background-color: orangered;
  color: white;
}

  .pageContainer {
    display: flex;
   height:auto;
    
    background-color:#ECECEC
  }

  .leftSection {
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  

  .leftSection {
    background-color: white;
    margin-top:24px; 
  }

  

  .descriptionBox {
    flex: 1;
  }

  .fileUploadBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dottedBox {
    border: 2px dashed #999;

    text-align: center;
    cursor: pointer;
    width: 550px;
    margin-left: 10px;
    height: 247px;
    
  }

  input[type="file"] {
    display: none;
  }
  .imgcls {
    width: 50px;
  }
  .textRow {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
  }
  .buttonRow {
    text-align: center;
    margin-top: 20px;
  }
  .Buildbtn {
    color: white;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  .output-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 50vh; */
    height:auto;
    overflow: auto;
  }

  .outline-button {
    border-radius: 10px;
    border: 1px solid orangered;
    background: transparent;
    padding: 10px 20px;
  }
  .txtclsquery {
    font-size: 1.15rem;
    font-weight: 500;
  }
  .Querycls {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .output-box {
    position: relative;
    border: 1px solid #ccc;
    /* height: 350px; */
    padding:5px;
  }
  

  .image-container {
    position: absolute;
    gap: 5px;
    right: 0;;
    padding: 5px;
    display: flex; /* Use flexbox to align images adjacent to each other */
  }

  .image-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 5px; /* Adjust the margin between the images as needed */
  }
  .imgclsout {
    width: 10px;
  }
  .ParentclshomeRighttab {
    display: flex;
    flex-direction: column;
    
  }

  .li-style{
    width: auto;
    cursor: pointer;
  }

  .RoutngclsRighttab {
    display: flex;
  }

  .routerparntrighttab {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
  }

  .nav-linksright {
    text-decoration: none;
    padding: 10px;
    color: lightgray; /* Set the default text color for inactive links */
    border: 1px solid #ccc; /* Add a border to create boxes for each link */
    background-color: #f8f8f8; /* Set the background color for each link */
    border-radius: 4px;
  }

  .nav-linksright.active {
    color: white; /* Set the text color for the active link */
    background-color: orangered; /* Change the background color for the active link */
  }

  .btnclsbrowse {
    background-color: white;
    border-radius: 10px;
    margin-top: 12px;
  }

  .dropdowncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 10px;
    margin-top: 5px;
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #bfb9b9;
    height: auto;
  }

  .options-container {
    display: flex;
    justify-content: space-around;
    padding: 10px; /* Adjust padding as needed */
  }

  .clickable-option {
    padding: 8px;
    margin-right: 30px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
  }

  .clickable-option.active {
    color: orangered;
  }
  .dropDown-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .btncontainer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
    margin-right: 13px;
  }

  .right-button {
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  /* Optionally, add hover styles for the button */
  .right-button:hover {
    background-color: #0056b3;
  }

  .accordion {
    width: 100%;
   
    margin-top: 20px;
  }

  .accordion-section {
    margin: 0px 5px;

    overflow: hidden;
  }

  .accordion-header {
    padding: 10px;
    display: flex;
    cursor: pointer;
    background-color: #f0f0f0;
    justify-content: space-between;
  }

  .accordion-content {
    background-color: #fff;
    padding: 2px;
  }

  /* Styling for the active state */
  .accordion-section.active .accordion-header {
    background-color: #f3d2c7;
  }

  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  thead {
    background: #d3cece;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .Acdcls {
    border: 1px solid #b7b0b0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;
  }

  .descriptionBox {
    flex: 0.8; /* 80% of the available space */
  }
  
  .fileUploadBox {
    flex: 0.2; /* 20% of the available space */
  }
  .arrow{
    cursor: pointer;
    margin-left: 300px;
  }
  .Buildbtndisable{
    color: white;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  .leftSection,
.rightSection {
  flex: 1;
  padding: 20px;
  /* border: 4px solid #ccc; */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
}

.leftSection {
  background-color: white;
  margin-top: 24px;
  margin-right:10px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rightSection {
  background-color: white;
  height: auto;
  margin-top: 24px;
  border-radius:10px;
  margin-left:5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* Set height to occupy available space */
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
}

.green-dot {
  background-color: green;
}

.imgcls{
  width:35px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 610px;
}

.dot-container {
  display: flex;
  align-items: center;
}
.imgiconclss{
  width:50px;
  height:50px;
  cursor:pointer;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right:10px /* Adjust margin as needed */
}

.green-dot {
  background-color: green;
}

.arrow {
  cursor: pointer;
   margin: 0 10px; 
  /* Adjust margin as needed */
}
.question-content {
  margin-left: 10px; /* Adjust as needed */
}
.arrow-container {
  margin-left: auto; /* Push arrow to the right */
}
.wrapper .arrow {
  font-size: 2rem;
  transition: 0.5s ease-in-out;
  margin-left: 180px;
}
.greatercls{
  font-size:44px;
  color:orangered;
  cursor: pointer;
  margin-right: 0; /* Remove margin */
  padding-right: 0;
  font-weight:bold;
}
::-webkit-scrollbar{
  width: .55rem;
  height: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track{
background-color: transparent;
width:1rem;
}

::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 0.8rem;
  height: 0.25rem;
}
.fieldcls{
  text-align: left;
}
.dotcls{
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
}
.bullet {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /* Adjust margin as needed */
}



/* Green bullet */
.bullet.green {
  background-color: green;
}

/* Grey bullet */
.bullet.grey {
  background-color: grey;
}
.domains{
  display: inline-block;
  margin-left:20px;
  font-size:19px;
  text-transform: capitalize;
}
.hrnzcls{
 color:dimgray
}
.Qeryboxheader{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
}
